<html>
<head><title>New apache start page.</title></head>
<h1>CPU:{{ansible_facts.processor[2]}}  RAM:{{ansible_facts.memtotal_mb}} HDD: {{ansible_facts.devices.sda.size}}  IP-address:{{ansible_facts.all_ipv4_addresses[1]}} </h1>
</html>
